.main-fade-enter {
  margin-left: 100%;
  position: absolute;
  z-index: 1;
}
.main-fade-enter-active {
  margin-left: 0;
  transition: margin-left 2000ms;
}

.main-fade-exit {
  margin-left: 0;
  position: absolute;
}
.main-fade-exit-active {
  margin-left: 0;
  transition: margin-left 2000ms;
}
